html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  min-width: 1200px;
  background-color: #f2f2f2;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.block_cheskbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 390px;
}

.input_group {
  border: none;
  padding: 0px;
  margin: 0px;
  min-height: 181px;
}

.input_group.cost {
  position: relative;
}

.container {
  position: relative;

  width: 1200px;
  margin: auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.header {
  position: relative;
}

.header::before {
  content: "";

  position: absolute;
  z-index: 1000;
  bottom: 0;

  margin-bottom: -2px;
  width: 1200px;
  height: 59px;

  background-image: url(../img/intro-mask.svg);

}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.label {
  color: #000000;
}

.label:hover {
  color: #81b3d2;
}

.label:active {
  color: #b2b2b2;
}

/* синяя кнопка */

.btn_blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.btn_blue:hover {
  background-color: #669ec0;
}

.btn_blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* коричневая кнопка */

.btn_brown {
  font-size: 21px;
  color: #ffffff;

  border: none;
  background-color: #766357;
  text-transform: uppercase;
}

.btn_brown:hover {
  background-color: #604e43;
}

.btn_brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 73px;
  padding-left: 73px;
}

.text_padding {
  padding: 20px;
  padding-top: 98px;
}

.navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

.navigation_list:last-child {
  text-align: right;
}

.navigation_item {
  text-align: left;
  list-style: none;
  width: 25%;
}

.navigation_item:nth-child(n+3){
  text-align: right;
}


.logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -70px;
}

.active,
.active:hover,
.label.active {
  color: #766357;
}


.feature {
  padding: 0;
  margin: 0;
}

.atribut {
  list-style: none;
}

.atribut_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.feature_title {
  font-size: 21px;
  color: #000000;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 22px;
  padding: 0 60px;
}

.block_blue {
  color: #ffffff;
  text-align: center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  min-height: 256px;
  padding: 0px;
  padding-top: 34px;
  padding-bottom: 14px;

  background-color: #81b3d2;
}

.block_blue.text_padding p {
  margin-top: 20px;
}

.block_blue .feature_title{
  color: #ffffff;
  margin-bottom: 27px;
  margin-top: 12px;
}

.icon-1::before {
  content: "";
  display: inline-block;
  left: 50%;
  top: 13px;
  margin-left: -37px;
  width: 75px;
  height: 72px;
  position: absolute;

  vertical-align: top;

  background-image: url(../img/icon-1.svg);
}

.icon-3::before {
  content: "";
  display: inline-block;
  left: 50%;
  top: 13px;
  margin-left: -37px;
  width: 74px;
  height: 70px;
  position: absolute;

  vertical-align: top;

  background-image: url(../img/icon-3.svg);
}

.icon-2::before {
  content: "";
  width: 64px;
  left: 50%;
  top: 13px;
  margin-left: -32px;
  position: absolute;
  height: 76px;

  background-image: url(../img/icon-2.svg)
}

.atribut_row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 47px 0;
}

.bg_grey {
  background-color: #eeeeee;
  min-height: 256px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
}

.feature_list .atribut {
  position: relative;
  text-align: center;
  width: 33.3%;
}

.bg_grey .text_padding {
  padding: 20px 60px;
}

.bg_grey p {
  margin-top: 22px;
}

.poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 508px;
  width: 100%;

  background-size: cover;
  background-position: top;
  background-image: url("../img/header.jpg");
  background-color: #4c6568;
  background-repeat: no-repeat;
}

.slogan_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 215px;
  padding: 30px;
}

.slogan {
  color: #000000;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

/* обратная связь */
.callback_wraper {
  text-align: center;

  padding-top: 58px;
  min-height: 278px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 119px;
}

.callback_title {
  font-size: 30px;
  color: #000000;
  margin: 0px;
  margin-bottom: 37px;
}

/* Форма */
.order_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 473px;

  background-color: #bed1a4;
}

.order_hotel {
  position: absolute;
  margin-top: -86px;

  top: 0;
  left: 50%;
  margin-left: -284px;
}

.form_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 568px;
  height: 395px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
  -webkit-animation: slide-in-top 0.5s;
          animation: slide-in-top 0.5s;

  background-color: #ffffff;
}

.toggle {
  display: none;
}

.input_group_order {
  border: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 458px;
  padding-bottom: 30px;
}

.input_group_number {
  border: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 458px;
  padding-bottom: 30px;
}

.input_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 346px;
  height: 38px;
}



.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
  height: 38px;
}

.points {
  font-weight: bold;
  font-size: 14px;
  color: #000000;

  padding-left: 2px;
}

.input_group_order:last-child {
  padding-left: 20px;
}

.filling_out {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0px;
  padding-left: 13px;

  font: inherit;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.filling_out:hover {
  background-color: #ebebeb;
}

.filling_out:focus {
  background-color:#ffffff;
  border: 1px #e5e5e5;
}

.filling_out:hover +.input_btn {
  background-color: #ebebeb;
}

.filling_out:focus +.input_btn {
  background-color:#ffffff;
  border: 1px #e5e5e5;
}

.number_people {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0px;

  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background-color: #f2f2f2;
  border: none;
}

.input_btn {
  padding: 0px;
  padding-right: 9px;
  border: none;
  background-color: #f2f2f2;
}

.input_btn path {
  fill: #a9a9a9;
}

.btn_number {
  width: 38px;
  border: 0;
  background-color: #f2f2f2;

  padding: 0px;
}

.number button:first-child {
  padding-bottom: 8px;
  padding-left: 15px;
}

.number button:last-child {
  padding-right: 13px
}


.btn_brown.btn_search {
  font: inherit;
  font-size: 21px;
  font-weight: bold;

  width: 568px;
  height: 86px;
}

.find {
  width: 458px;
  height: 58px;
  padding: 0px;
  margin-top: 25px;
}

.btn_number:hover svg,
.btn_number:hover path {
  fill: #000000;
}

.btn_number:active svg,
.btn_number:active path {
  fill: #81b3d2;
}

.input_btn:hover svg,
.input_btn:hover path {
  fill: #000000;
}

.input_btn:active svg,
.input_btn:active path {
  fill: #81b3d2;
}

.btn_blue.find {
  font-weight: bold;
  font-size: 21px;

  border: none;
}

.to_find:hover {
  background-color: #9dbed2;
}

.to_find:active {
  background-color: #469dd3;
}


/* футер */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  width: 1200px;
}

.footer > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;

}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.interesting_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
  width: 150px;
  min-height: 48px;
}

.interesting_pages .btn_blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
}

.btn_blue:active svg{
  opacity: 0.3;
}

.interesting_pages li {
  list-style: none;

  margin-right: 6px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.interesting_pages li:nth-child(3n) {
  margin-right: 0;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;

  color: #000000;
}

.copyright:hover svg,
.copyright:hover path {
  fill: #81b3d2;
}

.copyright:active svg,
.copyright:active path {
 fill: #bdbbbc;
}

/* catalog.html */

/* форма поиска */

.form_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 218px;
  width: 100%;
  padding-right: 73px;
  padding-left: 73px;

  background-size: cover;
  background-position: top;
  background-image: url(../img/header_blur.jpg);
  background-color: #4c6568;
  background-repeat: no-repeat;
}


@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.form_search li {
  list-style: none;
}

.title_input {
  padding-top: 7px;
  padding-bottom: 25px;

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.title_cost {
  padding-bottom: 15px;
  padding-left: 38px;
}

.list_search {
  padding: 0px;
  margin: 0px;
}

.input_search {
  padding-bottom: 23px;
}

.checkbox_input {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  display: block;
  width: 26px;
  height: 23px;
  margin-right: 13px;

  background-repeat: no-repeat;
  background-image: url(../img/checkbox-off.svg);
}

.input_search .checkbox_input:focus + .checkbox {
  outline: 2px solid #5496bd;
}


.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox_input:checked + .checkbox {
  background-image: url(../img/checkbox-on.svg);
}

.checkbox_input:focus + .checkbox {
  background-image: url(../img/checkbox-off.svg);
}

.checkbox_input:checked:focus + .checkbox {
  background-image: url(../img/checkbox-on.svg);
}

.checkbox_input:disabled + .checkbox {
  background-image: url(../img/checkbox-dis.svg);
  fill: #6a6a6a;
}

.checkbox_input:disabled:checked + .checkbox {
  background-image: url(../img/checkbox-dis-on.svg);

}

.input_cost {
  padding-bottom: 15px;
}

.label_input {
  font-size: 14px;
  color: #ffffff;
}

.btn_show {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -56px;
  margin-bottom: 15px;
  width: 137px;
  height: 37px;

  font-size: 17px;
  color: #fff;

  background: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn_show:hover {
  color: #000000;

  background-color: #ffffff;
}

/* фильтр */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 73px;
  min-height: 86px;
}

.filter h2 {
  color: #000000;
}

.filter p {
  color: #000000;
  font-weight: bold;
  font-size: 12px;
}

.wrapper_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-width: 516px;
}

.filter-range {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  width: 316px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range ul {
  position: relative;
  padding: 0;
}

.filter-range li {
  padding-left: 3px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;
  padding-left: 51px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  vertical-align: top;

  font-size: 14px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
}

.min-price {
  position: absolute;
  left: 65px;
  bottom: 5px;
}

.max-price {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
      transform: scale(1.1)
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


.list_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  min-height: 20px;
  min-width: 240px;
}

.list_dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0;
}

.list_dir .active svg,
.list_dir .active path {
  fill: #81b3d2;
}

.list_dir .active:hover path {
  fill: #81b3d2;
}

.list_dir .active:active path {
  fill: #81b3d2;
}

.type_padding {
  padding-right: 33px;
}

.arrow_padding {
  padding-right: 12px;
}

.filter_item {
  list-style: none;
}

.filter_item path {
  fill: #cacaca;
}

.filter_item:hover path {
  fill: #231f20;
}

.filter_item:active path {
  fill: #81b3d2;
}


.filter_lable {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
  font-weight: 400;
  font-size: 12px;
}

.filter_lable:hover {
  color: #81b3d2;
}

.filter_lable:active {
  color: #000000;

  border: none;
}

.filter_lable.active {
  color: #81b3d2;
  border-bottom: none;
}

.filter_result li {
  list-style: none;
}

.filter_result .label h3 {
  font-size: 21px;
  margin-bottom: 8px;
  margin: 0;
  margin-bottom: 8px;
}

.list_hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  margin: 0;
}

.item_hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 73px;
  min-height: 151px;

  border-top: 1px solid #e5e5e5;
}

.item_hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.block_info_hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 424px;
}

.block_info_hotel .label {
  line-height: 14px;
}

.list_info_hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 91px;
  padding: 0;
  margin-top: 0px;
  margin-left: 30px;
}

.wrapper_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 259px;
  min-height: 63px;
}

.item_info_hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel_type,
.hotel_cost {
  margin: 0px;
}

.hotel_type {
  margin-right: 5px;
  width: 110px;
}

.btn_blue.more,
.btn_brown.reservation {
  font: inherit;
  font-weight: bold;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_blue.more {
  width: 110px;
  height: 27px;
  margin-right: 7px;
}

.btn_brown.reservation {
  width: 142px;
  height: 27px
}

.list_rating_hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 90px;
}

.star {
  height: 41px;
  /*margin-bottom: 47px;*/

  background-repeat: space no-repeat;
  background-position: right center;
  background-image: url(../img/star.svg);
}

.star_4 {
  width: 87px;
}

.star_3 {
  width: 63px;
}

.star_2 {
  width: 41px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  min-height: 27px;
  margin: 0;

  background-color: #f2f2f2;
}

.shake {
	-webkit-animation: shake-horizontal 0.8s;
	        animation: shake-horizontal 0.8s;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
